body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: #2c2e2f; }
div { position: relative; }
.page-wrap { display: table; }
.white { color: #FFF !important; }
.whitebg { background-color: #FFF !important; }
.no-margin { margin: 0; }
button {
    background: transparent;
    border: 0px;
    outline: none !important;
    padding: 0px;
    margin: 0px; }
b { font-weight: 900; }
a,
a:hover,
a:focus,
a:active { text-decoration: none; display: inline-block; color: #2c2e2f; }
h1, h2, h3, h4, h5, h6 { margin: 0 0 1em; position: relative; font-weight: 900; }
ul.no-bullet { list-style: none !important; }
.normal { font-weight: 400; }
h1 { font-size: 72px; }
h2 { font-size: 48px; }
h5 { font-size: 36px; }
h6 { font-size: 24px; }
p  { font-size: 18px; line-height: 1.67em; margin-bottom: 1.5em; }
img { max-width: 100%; }
img.scale-with-grid { width: 100%; }
section { padding: 100px 0; background-size: cover !important; background-position: center !important; }
header {
    height: 100vh;
    width: 100vw;
    overflow: auto; }
    nav {
        z-index: 9999; }
    .navbar-nav li a {
        font-size: 14px;
        font-weight: 300;
        line-height: 80px;
        height: 80px;
        text-transform: uppercase;
        padding-top: 0; }
        .home .navbar-nav li a,
        .about .navbar-nav li a {
            color: #FFF !important; }
    .navbar-default {
        background-color: transparent;
        position: absolute;
        top: 0;
        margin: auto;
        width: 100%;
        border: 0px;
        margin: 0; }
        .navbar-brand {
            padding: 20px; }

#Slider {
    background-size: cover !important;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-end; }
    #Slider img {
        margin: 30px auto;
        display: block; }




.card {
    height: 40vh;
    width: 40vh;
    display: flex;
    align-items: flex-end;
    padding: 0 25px;
    background: #0bb5ff;
    color: #FFF;
    margin: 2em 2em 0 0;
    cursor: pointer;
    float: left;
    overflow: hidden;
    transition: all .3s ease-out; }
    .card:hover {
        background: #121212; }
    .card::after {
        content: '';
        height: 10vh;
        width: 10vh;
        position: absolute;
        top: -5vh;
        right: -5vh;
        background: #FFF;
        border-radius: 100%; }


input,
textarea {
    background: #F7F7F7;
    border: none;
    outline: none !important;
    padding: 3em;
    margin: 0 0 30px;
    font-size: 14px;
    width: 100%;
}
input[type="submit"] {
    display: inline-block;
    width: auto;
    padding: 2em 4em;
    background: #0bb5ff;
    color: #FFF;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .06em;
}

.testimonial {
    text-align: center;
    background: #f7f7f7;
    padding: 50px 10%;
    margin: 100px 0; }
    .testimonial .testi-avatar {
        margin: -100px auto 50px; }

footer {
    padding: 80px 0; }
footer,
footer p {
    font-size: 14px !important; }
footer ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    footer ul li {
        display: inline-block; }
        footer ul li a {
            padding: 1em 1.5em; }
